<% include partials/header %>
<h1>Landing page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dolore ab numquam sint, tempore excepturi possimus recusandae aut similique delectus aliquam natus, reprehenderit harum tempora atque cumque porro voluptates voluptate!</p>

<a href="/campgrounds">View All Campgrounds</a>

<% include partials/footer %>